body {
	background-image: url(../images/mr-t-sucka.jpeg);
	width: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

h1, h2{
	background: white;
	opacity: .6;
	font-family: 'Bangers', cursive;
	width: 70%;
}

h2 {
	min-width: 25%;
	max-width: 45%;
}

#game {

}

#currentword {
	background: white;
	opacity: .6;
	max-width: 25%;
	font-family: 'Bangers', cursive;
	font-size: 1.5em;
}

#guesses {
	background: white;
	opacity: .6;
	width: 20%;
	font-family: 'Bangers', cursive;
	font-size: 2em;
}

#score {
	background: white;
	opacity: .6;
	width: 10%;
	font-family: 'Bangers', cursive;
	font-size: 2em;
}

#easteregg {
	display: none;
	float: right;
}